*, *::before, *::after {
	/*font-family: RobotoMono Nerd Font !important*/
}

li div div p a{
    color: white !important;
}

.main-trackList-trackListRow,
.main-navBar-navBarLinkActive {
  border-radius: 0;
}

.main-trackList-active,
.main-navBar-navBarLinkActive {
  background-color: rgba(51, 148, 65, 0.2);
  position: relative;
}


.main-trackList-active::before,
.main-navBar-navBarLinkActive::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 3px;
  height: 100%;
  background-color: #339441;
}


.main-trackList-active .main-trackList-rowTitle {
  color: white !important
}

.main-trackList-rowSubTitle a {
  color: #aaa !important
}


.os-scrollbar-handle {
  background-color: #339441 !important;
  width: 6px;
  border-radius: 3px;
}


.main-trackList-trackListRow:hover {
  background-color: rgba(51, 148, 65, 0.1);
}

.main-trackList-selected {
  background-color: rgba(51, 148, 65, 0.5) !important;
}

.Root__now-playing-bar {
  margin: 0 8em 1em 8em;
  width: calc(100% - 16em);
  box-shadow: 0px 1px 2px 2px #111;
}

.main-nowPlayingBar-container,
.Root__now-playing-bar,
.main-navBar-navBar {
  border-radius: 5px;
}


.main-nowPlayingWidget-coverExpanded {
  transform: none !important;
}

.main-coverSlotExpanded-container {
  position: absolute;
  bottom: 0em;
  left: 2em;
  width: calc(100% - 4em);
  border-radius: 20px;
}

.main-rootlist-rootlistItem {
  padding: 0 1em;
}

.standalone-ellipsis-one-line {
  padding: 0 0.5em;
}

.main-contextMenu-menu {
  background-color: var(--spice-player)
}

.main-playlistEditDetailsModal-container {
  background-color: var(--spice-player)
}
