[submodule ".config/nvim"]
	path = .config/nvim
  url = https://github.com/member87/nvim

[submodule ".config/BetterDiscord/plugins"]
  path = .config/BetterDiscord/plugins
  url = https://github.com/member87/discord-plugins
