/* 
┌─┐┬┌┬┐┌─┐┬  ┌─┐
└─┐││││├─┘│  ├┤ 
└─┘┴┴ ┴┴  ┴─┘└─┘
┌─┐┌─┐─┐ ┬      
├┤ │ │┌┴┬┘      
└  └─┘┴ └─

by Miguel Avila

*/

:root {
  scrollbar-width: none !important;
}

@-moz-document url("about:newtab"), url("about:home") {
  body { background-color: #191919 !important;}
 }

@-moz-document url(about:privatebrowsing) {
  :root {
    scrollbar-width: none !important;
  }
}
